{{ define "main" }}
  {{- partial "menu.html" . -}}
  <div class="col-12 text-center blog under-menu">
    <h1>{{ .Title }}</h1>
    <div class="posts mt-4">
      {{ range .Pages }}
        <a href="{{ .RelPermalink }}">
          <div class="post col-lg-8 col-md-10 col-12 mx-auto text-left card">
            <img src="{{ .Params.image }}" alt="{{ .Title }}" />
            <div class="content">
              <h2>{{ .Title }}</h2>
              <span>{{ .Date.Format "1/2/2006" }}</span>
              <p>{{ .Description }}</p>
            </div>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
  {{- partial "footer.html" . -}}
{{ end }}
