{{ define "main" }}
  {{ $data := index .Site.Data .Site.Language.Lang }}

  <!-- =============================
      Start Menu
    =============================== -->
  <section class="menu menu-fix" id="menu">
    <nav>
      <!-- desktop-menu -->
      <div class="menu-container">
        <div class="desktop-menu-logo">
          <a href="{{ .Site.BaseURL | relLangURL }}"
            ><img
              class="img-fluid"
              src="{{ .Site.Params.logo_light | absURL }}"
              alt="{{ .Site.Title }}"
              id="desktop-logo"
          /></a>
        </div>
        <ul class="desktop-menu list-inline mb-0" id="desktop-menu">
          {{ range .Site.Menus.main }}
            <li class="menu-item hvr-underline-from-left {{ .Weight }}">
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
        <!-- mobile-menu -->
        <div class="mobile-menu">
          <a class="menu-link">
            <div class="mobile-menu-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <div class="mobile-menu-logo">
            <a href="{{ .Site.BaseURL | relLangURL }}"
              ><img
                class="img-fluid"
                src="{{ .Site.Params.logo_dark | absURL }}"
                alt="{{ .Site.Title }}"
            /></a>
          </div>
          <div class="menu-slider">
            <nav>
              <ul class="mobile-menu-list">
                {{ range .Site.Menus.main }}
                  <li class="hvr-shutter-out-vertical mobile-menu-item 1">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
              <ul class="mobile-menu-icons list-inline">
                {{ range .Site.Params.social }}
                  <li>
                    <a href="{{ .link | safeURL }}"
                      ><i class="fab {{ .icon }}"></i
                    ></a>
                  </li>
                {{ end }}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </section>
  <!-- =============================
      End Menu
    =============================== -->

  <!-- =============================
      Start Header
    =============================== -->
  <section class="header" id="home">
    {{ if .Site.Params.enable_logo }}
      <div class="logo">
        <img
          class="img-fluid"
          src="{{ .Site.Params.logo_light | relURL }}"
          alt="{{ .Site.Title }}"
        />
      </div>
    {{ end }}
    {{ with $data.homepage.hero }}
      <div class="hero-image">
        <img src="{{ .background_image | absURL }}" alt="background" />
      </div>
      <div class="container">
        <div class="row content">
          <div
            class="col-lg-8 col-lg-offset-2 col-sm-8 col-sm-offset-2 head-container"
          >
            <div class="head-holder">
              <h1 class="introduction">{{ .title | markdownify | emojify }}</h1>
              <div class="animated-text">
                <strong class="cd-headline clip">
                  <span class="cd-words-wrapper">
                    {{ range $index, $elements:= .occupations }}
                      {{ if eq $index 0 }}
                        <b class="is-visible">{{ . }}</b>{{ else }}<b
                          >{{ . }}</b
                        >{{ end }}

                      <!-- prettier-ignore-end -->
                    {{ end }}
                  </span>
                </strong>
              </div>
              {{ if .button.enable }}
                {{ with .button }}
                  <a class="hireMe button" href="{{ .link }}">{{ .label }}</a>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  </section>
  <!-- =============================
       End Header
    =============================== -->

  <!-- =============================
      Start Services
    =============================== -->
  {{ if $data.homepage.service.enable }}
    <section class="services" id="service">
      {{ with $data.homepage.service }}
        <div class="container">
          <div class="row">
            <div class="col-lg-12 mx-auto col-sm-12">
              <div class="services-heading">
                <div class="bar"></div>
                <h1>{{ .title }}</h1>
                <p>{{ .main_description | markdownify }}</p>
              </div>
              <div class="row">
                {{ range .service_list }}
                  <div class="col-lg-6 col-sm-6">
                    <div class="service-label">
                      <span
                        class="fas fa-stack fa-2x"
                        style="font-size: 2em; color: #6f6f6f;"
                      >
                        <i class="fas fa-square fa-stack-2x"></i>
                        <i
                          class="fas fa-xs fa-stack-1x fa-{{ .icon }} fa-inverse"
                        ></i>
                      </span>
                      <h4 style="margin-top:10px">{{ .name | markdownify }}</h4>
                    </div>
                    <p class="service-description">
                      {{ .description | markdownify }}
                    </p>
                  </div>
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}

      {{ if $data.homepage.call_to_action.enable }}
        {{ with $data.homepage.call_to_action }}
          <div
            class="need-service"
            style="background-image: url('{{ .bg_image | absURL }}');"
          >
            <h1>{{ .title | markdownify }}</h1>
            {{ with .content }}
              <p class="text-white">{{ . | markdownify }}</p>
            {{ end }}
            {{ if .button.enable }}
              {{ with .button }}
                <a href="{{ .link }}">{{ .label }}</a>
              {{ end }}
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </section>
  {{ end }}
  <!-- =============================
       End Services
    =============================== -->

  <!-- =============================
       Start About Me
    =============================== -->
  <section class="about-me" id="about">
    <div class="container">
      {{ if $data.homepage.about.enable }}
        {{ with $data.homepage.about }}
          <div class="row about-me-holder">
            <div
              class="col-lg-6 col-md-6 col-sm-6 about-me-text d-flex align-self-center"
            >
              <div class="text-holder">
                <h1>{{ .title | safeHTML }}</h1>
                <p>{{ .content | markdownify | emojify }}</p>
                {{ if .button.enable }}
                  {{ with .button }}
                    <a href="{{ .link | absURL }}" class="button download-cv">
                      {{ .label }} <i class="fa fa-download"></i
                    ></a>
                  {{ end }}
                {{ end }}
              </div>
            </div>
            {{ with .image }}
              <div class="col-lg-6 col-sm-6 col-9 about-me-images">
                <img class="img-fluid" src="{{ . | absURL }}" alt="about-me" />
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}

      <div class="row experience-skill">
        {{ if $data.homepage.experience.enable }}
          {{ with $data.homepage.experience }}
            <div class="col-lg-6 col-sm-6 col-11 experience">
              <h3>{{ .title }}</h3>
              <ul class="experience-chart">
                {{ range .experience_list }}
                  <li>
                    <div class="single-experience">
                      <h4>{{ .name | markdownify }}</h4>
                      {{ with .company }}
                        <span>{{ . | markdownify }} |</span>
                      {{ end }}
                      {{ with .duration }}
                        <span>{{ . | markdownify }}</span>
                      {{ end }}
                      {{ with .content }} <p>{{ . | markdownify }}</p> {{ end }}
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ end }}
        {{ end }}

        {{ if $data.homepage.skill.enable }}
          {{ with $data.homepage.skill }}
            <div class="col-lg-6 col-sm-6 col-11 skill">
              <h3>{{ .title }}</h3>
              <div class="skill-progress-bar">
                {{ range .skill_list }}
                  <div class="clearfix">
                    <span class="skillbar-title">{{ .name }}</span>
                    {{ if $data.homepage.skill.showpercent }}
                      <span class="skill-bar-percent">{{ .percentage }}</span>
                    {{ end }}
                    <div class="skillbar" data-percent="{{ .percentage }}">
                      <div class="skillbar-bar"></div>
                    </div>
                  </div>
                {{ end }}
              </div>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </section>
  <!-- =============================
      End About Me
    =============================== -->

  <!-- =============================
       Start Portfolio
    =============================== -->
  {{ if $data.homepage.portfolio.enable }}
    {{ with $data.homepage.portfolio }}
      <section class="portfolio" id="portfolio">
        <div class="container-fluid text-center">
          <div class="row portfolio-holder text-left">
            <div class="col-12 text-center">
              <h1>
                {{ .title }}
              </h1>
            </div>
            <ul id="og-grid" class="og-grid">
              {{ range .portfolio_list }}
                <li>
                  <a
                    href="{{ .url }}"
                    data-largesrc="{{ .image }}"
                    data-title="{{ .name }}"
                    data-description="{{ .description }}"
                    data-buttontext="{{ .buttontext }}"
                  >
                    <img src="{{ .thumb }}" alt="{{ .name }}" />
                  </a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </section>
    {{ end }}
  {{ end }}
  <!-- =============================
       End Portfolio
    =============================== -->

  <div class="footer container text-center">
    <ul class="footer-icons list-inline">
      {{ range $.Site.Params.social }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank"
            ><i class="{{ .icon }} footer-icon fa-2x"></i
          ></a>
        </li>
      {{ end }}
    </ul>
    <div class="credit">
      <i class="fas fa-copyright"></i>
      {{ .Site.Params.copyright | markdownify }}
    </div>
  </div>
{{ end }}
